<h1>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :venue_id %><br />
    <%= collection_select(:event, :venue_id, Venue.find(:all), :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :festival_id %><br />
    <%= collection_select(:event, :festival_id, Festival.find(:all), :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :starts %><br />
    <%= f.datetime_select :starts %>
  </p>
  <p>
    <%= f.label :ends %><br />
    <%= f.datetime_select :ends %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>