<h2>Festivals</h2>
<div class="festival_listing">
<% @festivals.each do |festival| %>
<div class="festival">
   <span class="score"><%=h festival.score %></span> <h3><%= festival.name %></h3>
    <div class="meta">
        <div class="date_range">
            <span class="date"><%= l festival.start_date, :format => "%d/%m/%Y" %></span> - <span class="date"><%= l festival.end_date, :format => "%d/%m/%Y" %></span>
        </div>
    </div>
    <ul class="nav">
        <li><%=link_to "Shows", festival_shows_path(festival)%></li>
        <li><%=link_to "Venues", festival_venues_path(festival)%></li>
    </ul>
</div>
<% end %>
</div>
