
<div id="listing">
<span class="score"><%=h @show.score %></span>
<h3>
  <%=h @show.name %>
</h3>
    <p style="margin-top:-18px;">
        <%= link_to 'back', shows_path %>
    </p>

  <div id="description"><p><%=h @show.description %></p></div>
  <ul id="meta">
    <li>
        where: <%=h @show.venue.name %>
    </li>
    <li>
        ticket price: £
    </li>
    <li>
        ticket availability: £
    </li>
    </div>

<div style="clear:both;"></div>
<div id="reviews">
    <h3>Reviews</h3>

</div>
</div>

