<%= stylesheet_link_tag 'hack' %>

<div id="listing">
<h3>
<span class="score"><%=h @show.score %></span>
  <%=h @show.name %>
</h3>
    <p style="margin-top:-18px;">
        <%= link_to 'back', shows_path %>
    </p>

  <div id="description"><p><%=h @show.description %></p></div>
  <ul id="meta">
    <li>
        where: <%=h @show.venue.name %>
    </li>
    <li>
        ticket price: £
    </li>
    <li>
        ticket availability: £
    </li>
    </div>

<div style="clear:both;"></div>
<div id="reviews">
    <h3>Reviews</h3>
    <div style="clear:both"></div>
    <ul>
    <%@show.reviews.each do |review| %>
    <a href="<%=review.url%>"><li class="review"><img src="/images/<%=review.source.downcase.gsub(/ /,'')%>.png" class="source_icon"/>
        <h4><span class="score"><%=review.score%></span>by <%=review.author%></h4><br/>
        <p><%= review.body_text %>...</p>
        
    </li></a>
    <% end %>
    </ul>
</div>
</div>

