<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reviews - <%= controller.action_name %></title>
    <link href='http://fonts.googleapis.com/css?family=Amaranth|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'reset', 'application' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'%>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'%>
    <%= javascript_include_tag 'application' %>
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-23187768-1']);
 _gaq.push(['_setDomainName', 'none']);
 _gaq.push(['_setAllowLinker', true]);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
    
  </head>
  
  <body>
    
        <div class="wrapper">
            <div id="header">
                <a href="/"><h1>Festivals Review</h1></a>
            </div>
                <%= yield %>
            <div class="push"></div>
        </div>
        <div class="footer">
            <p>This site was made by <a href="https://github.com/chsrockit/">chsrockit!</a> at chs11</p>
        </div>
      
  </body>
</html>
